@model Knjizara.Models.KategorijaModel

<h2>Dodaj Kategoriju</h2>

@using (Html.BeginForm("DodajKategoriju", "Knjizara", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                @Html.LabelFor(model => model.Naziv)
                @Html.TextBoxFor(model => model.Naziv)
                @Html.ValidationMessageFor(model => model.Naziv)
            </div>
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Dodaj" class="btn btn-default" id="Dodaj" />
            </div>
        </div>
    </div>
}